*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background a{
background: url(img/Imagem4.png);
border: 10px solid #000000;
box-sizing: border-box;
backdrop-filter: blur(4px);
}
.logo{
position: absolute;
width: 237px;
height: 237px;
left: 46px;
top: 71px;
}

     